body {
    font-family: 'Ibarra Real Nova', serif;
    margin: 0;
    padding: 20px;
    background: rgb(20, 20, 20)
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box {
    background: white;
    padding: 20px;
    width: 260px;
    border-radius: 8px;
    box-shadow: 0 0 10px #cccccc;
    display: flex;
    flex-direction: column;
}

.box input {
    margin-bottom: 10px;
    padding: 8px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    flex: 1;
    padding: 8px;
    cursor: pointer;
}

.home-link {
    margin-top: 30px;
    text-align: center;
}

.home-link a {
    padding: 10px 15px;
    background: #0044cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
